.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    background-color: #FFC93D;
    margin: -0.5rem;
}

.menuList{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.list{
    list-style-type: none;
    justify-content: space-between;
    margin-left: 1rem;
}

.list a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 2rem; 
}

.logoImage {
    width: 60px; 
    height: 15%;
    margin-right: 1rem; 
}

.logoName{
    font-weight: 600; 
    font-size: 2rem;
}

.link:hover {
    border-bottom: 3px solid var(--white); 
}
