.footer {
  display: flex;
  align-items: flex-start;
  padding: 45px;
  padding-bottom: 70px; 
  background-color: var(--accent); 
  font-family: var(--font-family); 
  margin: -8px;  
}

.logoSection {
  flex-basis: 30%; 
  transform: translate(10rem); 
}

.logo {
  max-width: 20%;
  height: auto;
  margin-bottom: 8px;
  transform: translate(1.3rem); 
}

.footer h2, .footer h3 {
  margin: 0;
  padding: 4px 0; 
}

.footer p {
  margin: 0;
  padding: 4px 0;
}

.footer h2 {
  transform: translate(1rem); 
}

.categorySection {
  display: flex;
  flex-grow: 1; 
  width: 10px; 
}

.category {
  flex-basis: 20%; 
  transform: translate(20rem); 
}

.category ul {
  list-style-type: none;
  padding: 0;
}

.category ul li {
  padding: 4px 0;
  cursor: pointer;
}

.category p {
  padding: 4px 0;
  transform: translate(0, 15px); 
}

.copyRight {
  text-align: center;
  width: 100%; 
  transform: translate(0, 10px); 
  font-size: 14px;
  position: absolute; 
}

.footerLink {
  text-decoration: none; 
  color: var(--black); 
}

.footerLink:hover {
  border-bottom: 3px solid var(--white); 
}

.copyright {
  position: absolute; 
  transform: translate(38rem, 12rem); 
}

@media only screen and (min-width: 1920px) {

  .copyright {
    transform: translate(50rem, 12rem); 
  }

}