.colors{
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.palette{
    display: flex;
    justify-content: center;
    margin: 3rem;
    padding: 0.813rem;
}

.heading{
    font-size: var(--headings);
    margin-top: 7rem;
}

.bodyCopy{
    font-size: 1.25rem;
    line-height: 2rem;
    width: 70%;
    margin-bottom: 2rem;
    margin-top: 3rem;
    text-align: center; 
}

.whiteContainer, .secondaryContainer, .accentContainer, .blackContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.1rem;
    padding: -0.5rem;
    margin-bottom: 2rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;

}


@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
  }
  

.white, .secondary, .accent, .black {
    height: 20rem;
    width: 18rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 1.7rem;
    animation: bounce 3s infinite;
}

.colorName{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: -1rem;
}

.contrastResults{
    margin-bottom: 2rem;
    padding: 1rem;
}

.topResults{
    display: flex;
}

.examplePhotos img{
    margin: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10rem; 
}

.bodyStyle{
    margin-top: -1rem;
    font-size: 1rem;
}

.lines {
    background-color: var(--accent);
    border: none;
    height: 0.15rem;
    display: inline-block;
    width: 35%;
    margin: 0;
}

.lines2 {
    background-color: var(--accent);
    border: none;
    height: 0.15rem;
    display: inline-block;
    width: 30%;
    margin: 0;
}
  
.linesContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    transform: translateY(-3.5rem);
}

