.Typography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    margin: 4rem;
}

.exampleFonts{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.intro{
    text-align: center;
}

.intro h2{
    font-size: 2.375rem;
    line-height: 0.2rem;
}

.intro p{
    font-size: 1.25rem;
}

.styleListBesley, .styleListLexend{
    list-style-type: none;
    line-height: 1.2rem;
}

.fontFamily{
    display: flex;
}

.fontStyles h2{
    font-size: 2rem;
}

.fontStyles p{
    font-size: 1rem;
}

.fontStyles{
    margin-right: 5rem;
    padding: 1rem;
}

.lexend, .styleListLexend, .fontLexend{
    font-family: "Lexend", sans-serif;
}

.besley, .styleListBesley, .fontBesley{
    font-family: "Besley", serif;
}

.fontLexend, .fontBesley{
    margin: 5rem;
    font-size: 1.125rem;
}
