.Typography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    margin: 4rem;
}

.exampleFonts{
    display: flex;
    flex-direction: column;
}

.intro{
    text-align: center;
}

.intro h2{
    font-size: 2.375rem;
    line-height: 0.2rem;
}

.intro p{
    font-size: 1.25rem;
}

.styleList{
    list-style-type: none;
    line-height: 1.2rem;
}

.fontFamily{
    display: flex;
}

.fontStyles h2{
    font-size: 2rem;
}

.fontStyles p{
    font-size: 1rem;
}
