.Typography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    margin: 4rem;
}

.exampleFonts{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.intro{
    align-content: center;
    text-align: center;
    padding: 1rem;
    width: 70%;
}

.intro h2{
    font-size: 2.375rem;
    line-height: 0.2rem;
}

.intro p{
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center; 
}

.styleListBesley, .styleListLexend{
    list-style-type: none;
    line-height: 1.2rem;
}

.fontFamily{
    display: flex;
}

.fontStyles h2{
    font-size: 2rem;
}

.fontStyles p{
    font-size: 1rem;
}

.fontStyles{
    margin-right: 5rem;
    padding: 1rem;
}

.lexend, .styleListLexend, .fontLexend{
    font-family: "Lexend", sans-serif;
}

.besley, .styleListBesley, .fontBesley{
    font-family: "Besley", serif;
}

.fontLexend, .fontBesley{
    margin: 2rem;
    font-size: 1.375rem;
}

/* font styles */
.italic{
    font-style: italic;
}

.light{
    font-weight: 200;
}

.med{
    font-weight: 600;
}

.semi{
    font-weight: 700;
}

.bold{
    font-weight: 800;
}

.black{
    font-weight: 900;
}

/* headings */
.headingContainer{
    justify-content: center;
    align-items: center;
}

.headingsContainer h2{
    font-size: 2rem;
    margin-left: 16rem;
}

.headings{
    display: flex;
}

.headingExamples{
    text-align: center;
    line-height: 0.1rem;
    margin-right: 4rem;
}

.headOne{
    font-size: 2.5rem;
}

.headTwo{
    font-size: 2.125rem;
}

.headThree{
    font-size: 1.75rem;
}

.headFour{
    font-size: 1.375rem;
}

.bodyCopy{
    font-size: 1rem;
}

.headingSentences{
    line-height: 3rem;
    margin-left: 2rem;
}

.lines {
    background-color: var(--accent);
    border: none;
    height: 0.15rem;
    display: inline-block;
    width: 35%;
    margin: 0;
}
  
.linesContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    transform: translateY(-2rem);
}

.lines2 {
    background-color: var(--accent);
    border: none;
    height: 0.15rem;
    display: inline-block;
    width: 30%;
    margin: 0; 
    transform: translate(-5rem); 
}

.lines3 {
    background-color: var(--accent);
    border: none;
    height: 0.15rem;
    display: inline-block;
    width: 30%;
    margin: 0;
}

.headingsHeading {
    transform: translate(-5rem, 1rem); 
}

.fontregular {
    position: absolute; 
    width: 20%; 
    height: 20%; 
    transform: translate(40rem, 10rem); 
}

.fontbold {
    position: absolute;
    width: 20%; 
    height: 20%;  
    transform: translate(-18rem, 10rem); 
}

@media only screen and (min-width: 1920px) {

.fontbold {
    transform: translate(-26rem, 10rem); 
}

}