.container { 
  position: absolute; 
  width: 100vw; 
  height: 100vh; 
  transform: translate(0, -700px); 
  z-index: -2; 
}

.bubbles {
  position: relative; 
  display: flex; 
}

.bubbles span {
  position: relative;
  flex: 1;  
  width: 30px; 
  height: 10px; 
  background: var(--accent); 
  margin: 0px 32px; 
  border-radius: 50%; 
  box-shadow: 0 0 0 5px rgb(253, 239, 85, 0.5); 
  animation: animate 15s linear infinite; 
  animation-duration: calc(270s / var(--i)); 
}

.bubbles span:nth-child(even) {
  background: rgb(253, 239, 85); 
}

@keyframes animate 
{
  0% 
  {
    transform: translateY(100vh) scale(0); 
  }
  100% 
  {
    transform: translateY(-10vh) scale(1); 
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    width: 75vw; 
    margin-left: 5rem; 
  }
}